
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $maxwidth;
    margin: 0 auto;
    padding: 0 1.5em;
    transition: all 300ms ease-out;
    
    &.js--sticky {
        position: fixed;
        z-index: 1111;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.6);
        max-width: none;
        padding: 0 calc(50% - 650px + 1.5em); //include the 1.5em padding from original hdr
        box-shadow: 0 2px 2px #000;
        
        @include breakpoint (max-width $maxwidth) {
            padding: 0 1.5em;
        }
    }
    
    @include breakpoint (max-width $tiny) {
        height: 0;
        overflow: hidden;
        //position: fixed;
        transition: all 300ms;
        z-index: 1112;
        top: 0;
        left: 0;
        right: 0;
    }
    
    &.js--showheader {
        height: auto;
        background-color: rgba(0,0,0,.6);
        //position: fixed;
        overflow: visible;
        z-index: 1112;
        top: 0;
        left: 0;
        right: 0;
        transition: all 300ms;
    }
    
    
}

.nav {
     
    &__list {
        display: flex;
        align-items: center;
    }
    
    &__item {
        padding: .9em 1.1em;
        transition: all 300ms ease-out;
        display: flex;
        align-items: center;
        
        &:hover {
            box-shadow: inset 0 -.1875em 0 darken($silver, 25%);
        }
        
        .js--sticky &:hover {
            box-shadow: inset 0 -.1875em 0 #fff;
        }
    }
    
    &__icon {
        font-size: 1.1em;
        margin-right: .3em;
        color: $darkgrey;
        transition: all 300ms ease-out;
        display: inline-block;
        line-height: .8;
        
        &.js--color {
            color: red;
            transform: scale(1.3);
        }
        
        .js--sticky & {
            color: #fff;
        }
        
        .js--showheader & {
            color: #fff;
        }
        
    }
    
    &__item:not(:first-of-type) {
        //margin-left: .2em;
    }
    
    &__item:first-of-type {
        padding-left: 0;
    }
    
    &__anch {
        font-family: inherit;
        color: $darkgrey;
        display: block;
        text-transform: uppercase;
        font-size: .8em;
        position: relative;
        padding: .3125em 0;
        
        .js--sticky & {
            color: #fff;
        }
        
        .js--showheader & {
            color: #fff;
        }
        
        /*
        use box-shadow on the LIs instead
        &::after {
            content: "";
            border-bottom: 0.125em solid $darkgrey;
            transform: scaleX(0);
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            transition: transform 300ms ease-out 50ms;
        }
        
        &:hover::after {
            transform: scaleX(1);
            
        }*/
        
    }
    
    
} //.nav


.social {
    display: flex;
    
    &__anch {
        color: $silver;
        font-size: 1.3em;
        transition: color 300ms ease-out 50ms;
        padding: .6rem .4rem;
        
        .js--sticky & {
            color: #fff;
        }
        
        .js--sticky &:hover {
            color: darken(#fff, 20%);
        }
        
        .js--showheader & {
            color: #fff;
        }
        
        .js--showheader &:hover {
            color: darken(#fff, 20%);
        }
        
    }
    
    &__anch:hover, &__focus {
        color: darken($silver, 30%);
    }
    
    &__anch + &__anch {
        margin-left: .4em;
        
    }
    
    &__anch:last-of-type {
        padding-right: 0;
    }
    
}


/*HAMBURGER*/

.hamburger {
    display: none;
    position: fixed;
    top: 1em;
    right: 1em;
    width: 20px;
    height: 19px;
    cursor: pointer;
    z-index: 2000;
    
    &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background-color: red;
        top: 0;
        transform-origin: left center;
        transition: all 300ms ease-out;
    }
    
    &__middle {
        width: 20px;
        height: 2px;
        background-color: red;
        position: absolute;
        top: 43%;
        transition: all 300ms ease-out;
    } 
    
    &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        background-color: red;
        bottom: 0;
        transform-origin: left center;
        transition: all 300ms ease-out;
    }
    
    @include breakpoint(max-width $tiny) {
        display: block;
    }
    
    
}


.hamburger.js--x {
    
    &::before {
        transform: rotate(45deg) scaleX(1.25); 
    }
    
    .hamburger__middle {
        transform: scaleX(0);
    } 
    
    &::after {
        transform: rotate(-45deg) scaleX(1.25) translateY(1px); 
    }
    
    
}







