
.hero {
    background-image: url('../img/bgImg.jpg');
    background-size: cover;
    background-position: top;
    height: 70vh;
    border-bottom: 1.5vw solid $darkgrey;
    position: relative;
    
    &__brand {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    &__img {
        width: 13.437em;
        height: auto;
        margin-bottom: .8em;
    }
    
    &__title {
        font-family: 'Playfair Display', serif; 
        font-weight: 300;
        font-size: 2.7em;
        margin-bottom: .2em;
    }
    
    &__subtitle {
        text-transform: uppercase;
        font-size: 1.1em;
        color: $silver;
        font-weight: 500;
    }
}


